/* Header section */

header {
    background-image: url("https://images.pexels.com/photos/7777662/pexels-photo-7777662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    text-align: center;
    height: 40rem;
    background-size: cover;
    color: #fff;
}

header .header-title {
    font-family: 'Kanit', sans-serif;
}

header h1 {
    padding-top: 15rem;
    font-size: 65px;
    font-weight: 900;
}

header h2 {
    padding-top: 5px;
    font-size: 20px;
    overflow: hidden;
    border-right: .10rem solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 50%
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #fff;
    }
}


/* Nav section */

nav {
    overflow: hidden;
    background-color: #101338;
    text-align: center;
}

nav ul {
    margin-left: 50%;
    position: relative;
    top: -15px;
}

nav ul li {
    display: inline;
    margin-right: 2em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Encode Sans SC', monospace;
}

nav .text-logo {
    font-family: monospace, 'Encode Sans SC';
    color: rgb(255, 255, 255);
    margin-right: 50%;
    font-size: 30px;
    position: relative;
    top: 7px;
}


/* Sticky nav section */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+main {
    padding-top: 6px;
}


/* = Main section = */

main {
    padding: 16px;
    width: 50%;
    margin: 900px auto;
}


/* CSS Section */

.properties {
    border: 1px red solid;
    text-align: center;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 5rem;
}

#css-properties {
    position: sticky;
    top: 26px;
}

#html-properties {
    width: 60%;
}